---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'dietdidot';
  src:  url('fonts/dietdidot_title/DietDidotTitle.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'didot';
  src:  url('fonts/didot/Didot.ttc') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroe';
  src:  url('fonts/heroe/Heroe.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroeinline';
  src:  url('fonts/heroe_inline/HeroeInline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



// Our variables
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      "dietdidot", serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       "didot" serif !default;


$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #343434;
$background-color: #fdfdfd;
$brand-color:      #d8e0a6;
$brand-primary:    #d8e0a6;
$secondary-color:  #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$black:             #343434;
$intro-font-color:  #fdfdfd;
$navbar-font-color: #fdfdfd;

@import "urban-static";

.sub-head, .alt-title {
    font-family: 'heroe';
    text-transform: capitalize;
}

p {
  font-family: "didot";
}

{% for item in site.site-map %}
  {% if item[1].image and item[1].inverse %}
    .intro-{{ item[0] }} {
        @include intro-image($image:"{{ item[1].image }}", $font-colour: $intro-font-color);
    }
  {% elsif item[1].image %}
    .intro-{{ item[0] }} {
        @include intro-image($image:"{{ item[1].image }}");
    }
  {% endif %}
{% endfor %}

.nav-2017 a {
  color: $black;
}
