---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'dietdidot';
  src:  url('fonts/dietdidot_title/DietDidotTitle.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'didot';
  src:  url('fonts/didot/Didot.ttc') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroe';
  src:  url('fonts/heroe/Heroe.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroeinline';
  src:  url('fonts/heroe_inline/HeroeInline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'playlist-script';
  src:  url('./fonts/Playlist Script.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ZefaniStencil';
  src:  url('./fonts/ZefaniStencil(uppercase)-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



// Our variables
$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      "dietdidot", serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       "didot", serif !default;


$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #343434;
$background-color: #fdfdfd;
$brand-color:      #f6f0ea;
$brand-primary:    #f6f0ea;
$brand-secondary:  #d4b49c;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$black:             #343434;
$intro-font-color:  #fdfdfd;
$navbar-font-color: #fdfdfd;

$btn-secondary-inverse: true;

@import "{{ site.theme }}";

.sub-head, .alt-title {
    font-family: 'playlist-script';
    text-transform: capitalize;
}


{% for item in site.site-map %}
  {% if item[1].image and item[1].inverse %}
    .intro-{{ item[0] }} {
        @include intro-image($image:"{{ item[1].image }}", $font-colour: $intro-font-color);
    }
  {% elsif item[1].image %}
    .intro-{{ item[0] }} {
        @include intro-image($image:"{{ item[1].image }}");
    }
  {% endif %}
{% endfor %}

.verse,
.quote {
  font-family: 'ZefaniStencil';
}

.quote-home-section {
    @include intro-image("/img/258.jpg", $font-colour: $intro-font-color);
    height: 540px;
}

.nav-2017 a {
  color: $black;
}

#2017 p {
    margin-bottom: 15px;
}

.quote-lg {
  line-height: 2.5;
  text-transform: none;
  margin-top: 5rem;
  font-family: 'ZefaniStencil';
}

.detail-section a,
.content-section a {
    font-style: italic;
}

.detail-section p {
    margin-bottom: 20px;
}

.img-diamond {
  clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
  -webkit-clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
}

hr {
    border: solid 2px $brand-secondary;
}

hr:before {
    content: "\002666";
}

.divider {
    min-height: 40px;
    min-width: 40px;
}

@media (max-width: 768px) {
  .divider {
    margin-left: -13px;
    min-height: 40px;
    min-width: 40px;
  }
}