@font-face {
  font-family: 'didot';
  src:  url('/fonts/didot/Didot.ttc') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ZefaniStencil';
  src:  url('/fonts/ZefaniStencil(uppercase)-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SilverSouth';
  src:  url('/fonts/Silver South Script Alt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;
